
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Bungee+Spice&display=swap');
</style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}

h1 {
    font-size: 120px;
    text-align: center;
    color: rgba(255, 255, 255, .4);
}

.parallax-1 {
    background: url('img1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-2 {
    background: url('img2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3 {
    background: url('img3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-inner {
    padding: 10% 0;
}

h2 {
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
}

p:nth-of-type(2),
p:nth-of-type(3) {
    margin: 40px 50px;
}